// important styles

body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

.center {
  text-align: center;
}

.anchor{
  display: block;
  height: 115px;
  margin-top: -115px;
  visibility: hidden;
}